<!DOCTYPE html>
<html>
 <body>
     {% extends "layout.html" %}
        {% block content %}

        <!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Få en roligere hverdag</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Få en roligere hverdag</span><br>
    <span class="w3-large">Ikke bruk unødvendig tid på å finne parkering. La oss hjelpe deg med det</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Finn ut mer, og kom igang</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

   <div class="container">
        <div class="w3-container w3-light-grey" style="padding:128px 16px" id="about">
            <h3 class="w3-center">OM TRØNDERPARK</h3>
            <p class="w3-center w3-large">Key features of our company</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-hourglass-half w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Tidsparende</p>
            <p>HVA ENN VI VIL AT DET SISTE PUNKTET SKAL VÆRE, heh.</p>
            </div>
    <div class="w3-quarter">
      <i class="fa fa-thumbs-up w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Tilbakemeldinger</p>
      <p>Vi setter tilbakemeldinger fra brukeren høyt, og prøver aktivt å forbedre oss der vi kan. På denne måten kan vi alltid tilby vårt best mulige .</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-wheelchair w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Tilrettelegging</p>
      <p>Det er viktig for oss å kunne tilby det beste alternativet for hver enkelt bruker. Både å finne det nærmeste parkeringshuset, men også et som er tilrettelagt brukerens krav.</p>
    </div>
    <div class="w3-quarter">
        <i class="fa fa-leaf w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Miljøvennlig</p>
        <p>Ved å kunne planlegge ruten til ønsket parkeringshus på forhånd av reisen, vil man også kunne unngå unødvendig bruk av ditt transportmiddel.</p>
    </div>
  </div>
</div>

{% endblock %}
</body>
</html>