  <!DOCTYPE html>
<html>
<body>

    {% extends "layout.html" %}
    {% block content %} 
    <link rel="stylesheet" href="../static/css/register.css" />
    <br>
    <br>
    <br>
  
    <div class="container">
    <h1>Registrer ny bruker</h1>
    <p>Vennligst fyll inn feltene.</p>
    <hr>
    <form action="/register" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style='color: red;'>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.submit() }}

      </p>
    </form>

      <p>Ved å lage en bruker så godtar du våre <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
<!--
      <div class="clearfix">
        <button type="submit" class="signupbtn">Registrer</button>
        <button type="button" class="cancelbtn">Avbryt</button><br>
      </div>
      -->
    {{ endblock }}

    {% endblock %}
  </body>
</html>
