  <!DOCTYPE html>
<html>
<body>


    {% extends "layout.html" %}
    {% block content %} 
    <link rel="stylesheet" href="../static/css/register.css" />
    <br>
    <br>
    <br>

  
    <div class="container">
    <h1>Registrer ny bruker</h1>
    <p>Vennligst fyll inn feltene.</p>
    <hr>

    <label for="username"><b>Brukernavn</b></label>
    <input type="text" placeholder="" name="email" required>

    <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="" name="email" required>

    <br>
    <label for="psw"><b>Passord</b></label>
    <input type="password" placeholder="" name="psw" required>

    <br>
    <label for="psw-repeat"><b>Gjenta Passord</b></label>
    <input type="password" placeholder="" name="psw-repeat" required>

    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Husk meg
    </label>

    <p>Ved å lage en bruker så godtar du våre <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Avbryt</button>
      <button type="submit" class="signupbtn">Registrer</button>
      <br>
    </div>
  </div>



      {% endblock %}
  </body>
</html>
