<!DOCTYPE html>
<html>
 <body>
     {% extends "layout.html" %}
        {% block content %}

<!-- Reviewing Section -->
<div class="w3-container w3-center w3-blue-grey" style="padding:75px 16px; height: 100%;" id="review">
  <h3>ANMELDELSER</h3>
  <p class="w3-large">Her kan du se anmeldelser andre brukere har lagt igjen av diverse parkeringshus</p>

  <div class="w3-row-padding w3-grayscale" style="margin-top:35px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 1</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><div id="root"></div></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 2</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 3</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i> Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 4</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-grayscale" style="margin-top:35px ">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 5</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 6</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 7</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card w3-light-grey">
        <div class="w3-container">
          <h3>PARKERINGSHUS 8</h3>
          <p class="w3-opacity">RATING 1-10</p>
          <p>Beskrivende tekst.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i onclick="myFunction(this)" class="fa fa-thumbs-o-up"></i>Lik denne anmeldelsen</button></p>
        </div>
      </div>
    </div>
  </div>




      <div id="like_button_container"></div>
      <Count isUndoable={true} actionDoText="follow" actionUndoText="unfollow" counterText="followers" firebaseHost="https://counter-button.firebaseio.com/" firebaseResourceId='kudos-counter'></Count>
      <OnlineCount counterText="views" firebaseHost="https://counter-button.firebaseio.com/"/ firebaseResourceId='another-online-counter'></OnlineCount>
      

<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="../static/js/Likes.js"></script>
<script src="../static/js/index.js"></script>

<script>
function myFunction(x) {
    x.classList.toggle("fa-thumbs-o-down");
  }   

function addone(field) {
field.value = Number(field.value) + 1;
}

function subtractone(field) {
field.value = Number(field.value) - 1;
}

</script>


{% endblock %}
</body>
</html>