


body {
    font-family: 'Lato', Courier;
    background-color: rgb(171, 187, 207);
  }
  


h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}



#content{
    width: 100%;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: auto;
}

#map{
    width: 70%;
    max-width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: 0px;
    float: right;
    z-index: 0;
    margin-bottom: 20px;
    margin-top: auto;
    position: relative;
   
}

.test {
    width: 200px;
}

button {
    background-color: #2196F3;
    border: 10px black;
    cursor: pointer;
    width: 100%; 
    align-content: center;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #414141;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace
}

button:hover {
    background-color: rgb(145, 198, 241);
    color: white;
  }
  


 
  .footer {
    position: fixed;
    right: 2%;
    top: 0;
    width: 10%;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(36, 35, 35);
    text-align: right;
  }


  .locationbtn {
    font-size: 16px;
    width: 200px;
    
  }

  .location {
      left: 0;
      right: 0;
      width: 70%;
      float: left;
      clear: left;
  }

  .left {
      position: absolute;
      width: 30%
  }

  

  
  
  
  
  
  
  

