


body {
    font-family: 'Lato', sans-serif;
  }
  


h1{
    font-weight: 300;
    text-align: center;
}

#content{
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#map{
    width: 70%;
    max-width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: 0px;
    float: right;
    z-index: 0;
}

.test {
    width: 200px;
}

button {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    border: 10px black;
    cursor: pointer;
    width: 100%; 
    align-content: center;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
}

button:hover {
    background-color: #818181;
    color: white;
  }
  



  

  
  
  
  
  
  
  

