<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <title>Prosjekt</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        
        <!-- Dependencies -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

     

        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>

        

        <div id="content">
            <h1>Parkeringshus</h1>
            <button id='bestStudy-btn' onclick="alert('Dra til Dreams<33'); hideButton('bestStudy-btn')"> Anbefaling </button>
            <button id='bestStudy-btn2' onclick="alert('Heia deg'); hideButton('bestStudy-btn2')"> Heia meg </button>
            <div id="map">
            </div>
        </div>




<!-- -------------------------------------------------------------------------------- -->

        <script src="js/main.js"></script>
    </body>
</html>

